:root {
  --border-radius: 0.2rem;
  --blue: #192dff;
  --orange: #FFA726;
  --green: #44EBA1;
  --yellow: #FFFB38;
  --red: #EF0E78;
  --gray-lighter: #f6f6f6;
  --gray-darker: #ccc;
  --white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: .5rem 1.25rem;
  font-size: 1rem;
  border: 0;
  border-radius: var(--border-radius);
  color: var(--gray-lighter);
  height: 2.5rem;
  background-color: var(--blue);
  appearance: none;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: .7;
  cursor: not-allowed;
}

img {
  max-width: 100%;
}

a {
  color: var(--blue);
  margin-right: 0.5rem;
}